<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <br> 
<div class="container">
  <div class="jumbotron">
      
    <h5>PC Jeweller is India's leading fine jewellery discovery platform focusing on giving YOU an awesome jewellery buying experience.<br> At PC Jeweller we strive to provide you the largest collection of curated designs for every occasion.<br> We are not just selling jewellery, but an unparalleled jewellery buying experience at your fingertips!

      <br>  Shining bright with a young team focused on innovation, customer happiness and transparency,<br> PC Jeweller addresses the growing demands of today's always on-the-go consumers to discover, explore, buy and know more about their jewellery. <br>Our policies provide easy returns, free shipping, BIS Hallmark, 100% certified jewellery, life-time exchange, <br>best and transparent prices and unique designs all under one roof.
        
        Find us on Facebook, Instagram and Twitter. We would love to connect with you.<br> To share your thoughts or get your queries answered, please feel free to reach us on our toll free number 1800-120-1434 or send us an email at getintouch@pcjeweller.com.
    </h5>
  </div> 
</br>    
</div>

</body>
</html>
