<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <br> 
  <div class="container">
  <div class="jumbotron">
   <p> <strong>Address</strong>
    Transforming Retail Pvt. Ltd.
    1st Floor, 2716, Bank Street
    Karol Bagh, New Delhi - 110005
    <br>
   <strong>Toll Free Number -</strong>  1800-120-1434<br>
   <strong>Corporate Queries/Bulk Orders -</strong>  +91 99108 97647<br>
   <strong>Email - </strong> Email - getintouch@pcjeweller.com
</p>
    
  </div> 
</br>    
</div>

</body>
</html>
